.recipe-details {
  margin-left: 5px;
}
.detail__title {
  border-bottom: solid darkgray 1px;
  padding: 5px 20px;
  margin: 0 auto;
}
.recipe__summary {
  margin: 0 15px;
}
.recipe__ingredients {
  min-width: 300px;
}
.ingredient {
  margin: 5px auto;
}
.recipe__image {
  position: relative;
  max-width: 100%;
}
.recipe-tags {
  display: flex;
}