.details-container {
  padding: 50px;
}
.recipe-title {
  font-weight: 900;
  border: solid;
  border-width: 0 0 5px 0;
  border-color: rgb(0, 0, 0, .20);
}
.ingredient-container {
    display: flex;
    border: solid;
    border-width: 1px 0;
    padding: 10px 0 20px 0;
    margin: 10px 0;
}
.credits {
  font-size: 11pt;
  line-height: 0rem;
}
.summary {
  text-align: justify;
}
.recipe-image {
  align-self: center;
  width: 30%;
  max-width: 350px;
  height: auto;
  margin: 0 20px 0 0;
}
.diet {
  background-color: rgb(176, 196, 222, .5);
  font-size: 8pt;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  padding: 4px;
  margin: 0 3px;
}
.ingredients {
  display: flex;
  flex-direction: column;
}
.ingredient {
  padding-left: 6px;
}
.instructions {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-top: -10px;
  padding-bottom: 15px;
  line-height: 25px;
  border-bottom: solid 1px;
}
.step {
  margin: 5px;
}
.comment-form {
  display: flex;
  flex-direction: column;
  
  padding: 10px 20px;
}
.comment-name {
  margin-bottom: 5px;
  width: 280px;
  align-self: flex-start;
}
.post-comment {
  align-self: flex-end;
  margin-top: 5px;
}
.comment {
  padding: 8px;
  margin: 5px;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 1em;
}
.user-name {
  margin: 5px 10px;
}
.user-comment {
  margin: 0 10px;
}
