
.Home {
  display: grid;
  grid-template-columns: [start] 20px [col2] auto [col3] 200px [end];
  grid-template-rows: [first-line] 20px [row2] 30px [row3] auto [row4] 300px [last-line];
}

.search-form {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: first-line;
  grid-row-end: row2;

  text-align: center;
  margin: 10px;
}

#header-search {
  width: 500px;
  padding: 5px 0;
}
.search-button {
  padding: 5px 0;
}

.home-title {
  grid-column-start: start;
  grid-column-end: col3;
  grid-row-start: row2;
  grid-row-end: row3;

  text-align: center;
}

.cards-container {
  grid-column-start: start;
  grid-column-end: col3;
  grid-row-start: row3;
  grid-row-end: last-line;

  border-left: solid 1px;
  margin-left: 30px;

  display: flex;
  flex-flow: wrap row;
}

.card {  
  width: 300px;
  color: green;
  font-style: none;

  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-title {
  text-align: center;
  font-size: 12px;
  overflow-wrap: normal;
  padding: 5px 20px;
}

.home-images {
  width: 100%;
}

.Sidebar {
  grid-column-start: col3;
  grid-column-end: end;
  grid-row-start: row3;
  grid-row-end: last-line;

  margin-top: 20px;
}

button {
  margin: auto 10px;
}