.Home {
  display: grid;
  grid-template-columns: [first] 40px [col2] auto [col3] 180px [last];
  grid-template-rows: [start] 100px [row2] 100px [row3] auto [end];
}
.home__header {
  grid-column-start: first;
  grid-column-end: last;
  grid-row-start: start;
  grid-row-end: row2;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.recipe__title {
  align-self: center;
}
.home__recipes {
  grid-column-start: first;
  grid-column-end: col3;
  grid-row-start: row2;
  grid-row-end: row3;
}
.home__sidebar {
  grid-column-start: col3;
  grid-column-end: last;
  grid-row-start: row2;
  grid-row-end: row3;
}
