.Searchbar {

}
.search__box {
  position: relative;
  background: lightpink;
  height: 40px;
  width: 400px;
  border-radius: 40px;
  padding: 5px;
}
.search__input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0 5px;
  width: 345px;
  font-size: 18px;
  line-height: 40px;
}
.search__button {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__button:hover {
  background: lightsteelblue;
}
