@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Oswald";
  color: #333;
}

.Main {
  margin: 0 auto;
  max-width: 1000px;
}
.title {
  font-size: 32px;
}