.App {
  display: grid;
  grid-template-columns: [start] 20px [col2-start] auto [col3-start] 200px [end];
  grid-template-rows: [first-line] 80px [row2] 40px [row3] 600px [row4] auto [last-line];
}

.App-header {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: first-line;
  grid-row-end: row2;
}

.Navigation {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: row2;
  grid-row-end: row3;
  text-align: center;

  display: flex;
  justify-content: space-around;
}

.Home {
  grid-column-start: start;
  grid-column-end: col3-start;
  grid-row-start: row3;
  grid-row-end: last-line;
}

.Sidebar {
  grid-column-start: col3-start;
  grid-column-end: end;
  grid-row-start: row3;
  grid-row-end: last-line;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-flow: wrap row;
}
.card-title {
  text-align: center;
  font-size: 10px;
  overflow-wrap: normal;
  max-width: 250px;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  width: 250px;
}
