.App {
  display: flexbox;
  flex-direction: column;
  font-family: 'montserrat';
  background-color: rgb(252, 252, 248);
}

.App-header {
  text-align: center;
}

.App-header h1 {
  font-family: 'Prata';
  font-size: 50pt;
  margin-bottom: -30px;
}

.App-header p {
  font-size: 12pt;
}

.Navigation {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
